<div class="bg-white container fixed-bottom mb-4 rounded" style="width: 40%">
    <div class="d-flex justify-content-around bg-white
     m-1 p-2 rounded  z-depth-5">
        <a href="/main"> <i class="fas fa-home fa-2x"></i></a>
        <a href="/likes"> <i class="far fa-heart fa-2x"></i></a>
        <a href="/add-feed"> <i class="fas fa-plus-circle fa-2x"></i></a>
        <a href="/friends"><i class="fas fa-user-friends fa-2x"></i></a>
        <a href="/profile-menu"> <i class="fas fa-id-card fa-2x"></i></a>
    </div>
</div>