{% extends "base.html" %}
{% block title %}<title>Welcome TS</title> {% endblock %}
{% block head %}
    <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css"/>
{% endblock %}


{% block content %}
    <div class="container d-flex justify-content-around rounded rgba-black-strong align-items-center p-2">
        <!-- introduce  -->
        <div class="text-white text-center">
            <h1><b class="">Trip Story</b></h1>
            <hr class="bg-white rounded" style="height: 2.5px;">
            <h3>Record and share your trip</h3>
        </div>
        <!-- login form -->
        <form action="/login" class="white rounded p-3" method="post">
            <div class="text-center">
                <h3>Login</h3>
                <hr class="rounded">
            </div>

            <div class="md-form md-outline input-with-pre-icon">
                <i class="fas fa-user input-prefix"></i>
                <input type="text" class="form-control" id="id" name="id" required>
                <label for="id">id</label>
            </div>

            <div class="md-form md-outline input-with-pre-icon">
                <i class="fas fa-lock  input-prefix"></i>
                <input type="password" class="form-control" id="password" name="password" required>
                <label for="password">password</label>
            </div>

            <div class="d-flex justify-content-around">
                <input type="submit" class="btn btn-primary" value="Sign in">
                <input type="button" class="btn btn-info" value="Sign Up" data-toggle="modal"
                       data-target="#modalSignUpForm">
            </div>
            <div class="d-flex flex-column">
                <button type="button" onclick="doGoogleLogin()" class="btn btn-outline-danger">
                    <i class="fab fa-google" aria-hidden="true"></i>&nbsp;&nbsp;google
                </button>
                <button type="button" onclick="doFacebookLogin()" class="btn btn-outline-primary">
                    <i class="fab fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;facebook
                </button>
            </div>
        </form>
    </div>
    <h3 class="text-white ml-5 mb-5" style="position: absolute; bottom: 20px; left: 20px">
        <i class="fab fa-connectdevelop"></i>
        Powered By MDSU
    </h3>
    {% include "signup-modal.html" %}

    <!-- firebase core sdk -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- firebase auth sdk -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

    <!-- web app's Firebase configuration -->
    <script src="../static/js/sign_in/firebase-init.js"></script>
    <!-- google login script -->
    <script src="../static/js/sign_in/social-login.js"></script>
{% endblock %}
{% block js %}
    <script src="../static/js/sign_up/sign_up.js"></script>
{% endblock %}